@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="content">
    <div class="row">
        @await Component.InvokeAsync("AssetsComponent")
        @await Component.InvokeAsync("LicenseComponent")
        @await Component.InvokeAsync("UserStaffsComponents")
    </div>
    <div class="row">
        @await Component.InvokeAsync("UnAssingedAssetsComponent")
        @await Component.InvokeAsync("UnAssignedLicenseComponent")
    </div>
    <div class="row">
        @await Component.InvokeAsync("UserAssetsComponents", new { isActive = @ViewBag.YesActive})
        @await Component.InvokeAsync("UserLicenseComponents", new { isActive = @ViewBag.YesActive})
    </div>
</div>
