@model IEnumerable<UserStaffDTO>

<div class="col-7 col-md-8">
    <div class="numbers">
        <p class="card-category">Total Count: @ViewBag.TotaUserStaffCount</p>
        <p class="card-title">User Staffs
        <p>
    </div>
</div>