@model AssetManagementWeb.Models.DTO.UserStaffDTO

@{
    Layout = null;
}

<div class="modal fade" id="UpdateUserStaff" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Updating Exisitng UserStaff Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h5 class="card-title">Please provide informations</h5>
                                </div>
                                <div class="card-body">
                                    <form method="put" id="formUpdateUserStaff">
                                        <input name="IsValid" type="hidden"
                                            value="@ViewData.ModelState.IsValid.ToString()" />
                                        <div class="row">
                                            <div class="form-group">
                                                <span asp-validation-for="Id" class="text-danger"></span>
                                                <label asp-for="Id" class="control-label" hidden></label>
                                                <input asp-for="Id" class="form-control" hidden />
                                            </div>
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label asp-for="DisplayName">DisplayName</label>
                                                    <input asp-for="DisplayName" class="form-control" autocomplete="off"
                                                           placeholder="DisplayName">
                                                    <div>
                                                        <span asp-validation-for="DisplayName"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label asp-for="Department">Department</label>
                                                    <input asp-for="Department" class="form-control" autocomplete="off"
                                                           placeholder="Department">
                                                    <div>
                                                        <span asp-validation-for="Department"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label asp-for="Location">Location</label>
                                                    <select asp-for="Location" class="form-control"
                                                            asp-items="Html.GetEnumSelectList<AssetManagementWeb.Models.LocationModel>()"
                                                            required>
                                                    </select>
                                                    <div>
                                                        <span asp-validation-for="Location"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label asp-for="IsActive">IsActive</label>
                                                    <select asp-for="IsActive" class="form-control"
                                                            asp-items="Html.GetEnumSelectList<AssetManagementWeb.Models.AvailabilityModel>()"
                                                            required>
                                                    </select>
                                                    <div>
                                                        <span asp-validation-for="IsActive"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="update ml-auto mr-auto p-2">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd"
                                                onclick="UpdateUserStaff()">Update</button>
                                            <button type="button" class="btn btn-danger btn-fill btn-wd"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>