@model IEnumerable<AssetsDTO>

<div class="col-7 col-md-8">
    <div class="numbers">
        <p class="card-category">Total Count: @ViewBag.TotalAssetsCount</p>
        <p class="card-title">Assets
        <p>
    </div>
</div>