@model IEnumerable<LicenseDTO>

<div class="col-7 col-md-8">
    <div class="numbers">
        <p class="card-category">Total Count: @ViewBag.TotalLicensesCount</p>
        <p class="card-title">Licenses
        <p>
    </div>
</div>